{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block sidebar %}{{ super() }}{% endblock %}
{% block breadcrumb %}
  <ul class="breadcrumb">
    <li>
      <a href="{{ url_for('main.index') }}">Home</a>
    </li>
    <li>
      <a href="#" class="active">Forgot Password</a>
    </li>
  </ul>
{% endblock %}
{% block page_content %}
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
        Forgot password
        </h5>
        <form method="post" name="forgot-password">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <label>Your e-mail:</label>
            {% for error in form.email.errors %}
                <span class="help" style="color: #f55753;">[{{ error }}]</span>
            {% endfor %}
            {{ form.email(class_="form-control") }}
          </div>
          <div class="form-group">
            {{ form.submit(class_="btn btn-primary") }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}